.mdl-layout__content {
    flex: 1 0 auto;
    overflow: hidden;
}

.mdl-mini-footer {
    flex: 0 0 auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 9999;
}

#about-text {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 20%;
}

#about-card {
    left: -50%;
    width: 50vw;
}

.page-content .mdl-grid {
    padding: 0 32px 32px;
}

.mdl-cell .cell-content {
    width: 50%;
    margin: auto;
    padding-top: 32px;
}

.cell-content .mdl-textfield {
    width: 100%;
}

#github-icon {
    vertical-align: -15%;
}

.functional-buttons .mdl-button {
    margin-top: 10px;
    margin-right: 10px;
}

#save-config[disabled] {
    background-color: rgba(0,0,0,.12);
}

#save-config {
    background-color: rgb(76,175,80);
}

.fail-icon {
    color: #f44336;
    vertical-align: -12%;
    margin-right: 5px;
    display: none;
}

ul#available-classes-list li {
    padding: 0;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.function-buttons-separator {
    margin-top: 20px;
}

#progress-bar {
    width: 100%;
    display: none;
}

.available-classes-header {
    margin-bottom: 0;
}

#available-classes-list {
    margin-top: 0;
}

.orange-button.mdl-button {
    background-color: rgb(255,171,64) !important;
    color: rgb(66,66,66) !important;
}

.blue-button.mdl-button {
    background-color: rgb(33,150,243) !important;
}

.class-labels-wrap {
    width: 70%;
    margin: auto;
}

.class-labels-table {
    width: 100%;
}

.class-labels-table th, .class-labels-table input, .class-labels-table td {
    font-size: 14px;
}

.tab-help {
    position: absolute;
    top: 0;
    overflow: auto;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    display: none;
    box-shadow: -1px 0 20px 0 #a8a8a8;
}

.help-text {
    position: relative;
    right: 0;
    padding-right: 32px;
    padding-left: 32px;
    height: 100%;
}

.help-button {
    position: absolute;
    top: 0;
    right: 16px;
    margin-top: 16px;
    z-index: 100;
}

footer {
    z-index: 100;
}

#snackbar {
    z-index: 200;
}