<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tab">
    <button data-for="changelog-tab" class="help-button mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">help</i>
    </button>

    <div id="changelog-tab" class="tab-help">
        <div class="help-text">
            <h5>Changelog path:</h5>
            <p>
                Path to your changelog from root of repository.
            </p>

            <h5>Available classes and fields below:</h5>
            <p>
                During changelog validation handler look into this list of classes.<br/>
                If changelog contains class which is not presented here, it will be marked as invalid.
            </p>
        </div>
    </div>
</div>
</html>