<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tab">
    <div class="tab-content">
        <div class="tab-content__grid mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="tab-content__cell">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.changelogConfig.pathToChangelog" rv-on-keyup="ctrl.disableSaveBtn" id="path-to-changelog" class="mdl-textfield__input">
                        <label for="path-to-changelog" class="mdl-textfield__label">Changelog Path</label>
                    </div>

                    <br/>

                    <h6 class="tab-content__header">Available classes:</h6>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="add-class-field" class="mdl-textfield__input">
                        <label for="add-class-field" class="mdl-textfield__label">Add class</label>
                        <button id="add-class-button" class="mdl-button mdl-button--right mdl-js-button mdl-button--icon mdl-button--colored">
                            <i class="material-icons">add</i>
                        </button>
                    </div>

                    <ul class="classes-list mdl-list">
                        <li rv-each-item="config.changelogConfig.html.availableClasses" class="mdl-list__item classes-list__item">
                            <button id="remove-class-button" rv-on-click="ctrl.removeClass" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent">
                                <i class="material-icons">clear</i>
                            </button>
                            &nbsp;{item}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:replace="fragments/tabs/changelog_help :: tab"></div>
    </div>
</div>
</html>