<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tab">
    <div class="tab-content">
        <div class="tab-content__grid mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="tab-content__cell">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.requestAgentName" id="request-agent-name" class="mdl-textfield__input">
                        <label for="request-agent-name" class="mdl-textfield__label">Agent Name</label>
                    </div>

                    <br/>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select rv-value="config.timeZone" class="mdl-textfield__input" id="time-zone" name="Time Zone">
                            <option>Europe/Moscow</option>
                            <option>Europe/London</option>
                            <option>America/New_York</option>
                            <option>America/Los_Angeles</option>
                        </select>
                        <label class="mdl-textfield__label" for="time-zone">Time Zone</label>
                    </div>

                    <br/>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.imageUploadCode" id="image-upload-code" class="mdl-textfield__input">
                        <label for="image-upload-code" class="mdl-textfield__label">Image Upload Code</label>
                    </div>

                    <hr class="tab-content__line"/>
                    <div id="progress-bar"
                         class="tab-content__progress-bar tab-content__progress-bar--hidden mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

                    <div class="config-btn">
                        <button id="validate-config"
                                class="config-btn__btn mdl-button mdl-button--dark-blue mdl-button--white-text mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                            VALIDATE CONFIG
                        </button>
                        <button disabled id="save-config"
                                class="config-btn__btn mdl-button mdl-button--grey-disable mdl-button--green mdl-button--white-text mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                            SAVE CONFIG
                        </button>

                        <hr class="tab-content__line"/>

                        <a href="/config/rest/file"
                           class="config-btn__btn mdl-button mdl-button--blue mdl-button--white-text mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                            DOWNLOAD CONFIG
                        </a>
                        <a href="/config/rest/log"
                           class="config-btn__btn mdl-button mdl-button--orange mdl-button--white-text mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                            DOWNLOAD LOG
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/tabs/general_help :: tab"></div>
    </div>
</div>
</html>