<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tab">
    <div class="tab-content">
        <div class="tab-content__grid mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="tab-content__cell">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.gitHubConfig.organizationName" rv-on-keyup="ctrl.disableSaveBtn" id="organization-name" class="mdl-textfield__input">
                        <label for="organization-name" class="mdl-textfield__label">Organization Name</label>
                    </div>

                    <br/>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.gitHubConfig.repositoryName" rv-on-keyup="ctrl.disableSaveBtn" id="repository-name" class="mdl-textfield__input">
                        <label for="repository-name" class="mdl-textfield__label">Repository Name</label>
                    </div>

                    <br/>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.gitHubConfig.token" id="api-token" class="mdl-textfield__input">
                        <label for="api-token" class="mdl-textfield__label">Api Token</label>
                    </div>

                    <br/>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input rv-value="config.gitHubConfig.secretKey" id="secret-key" class="mdl-textfield__input">
                        <label for="secret-key" class="mdl-textfield__label">Secret Key</label>
                    </div>

                </div>
            </div>
        </div>

        <div th:replace="fragments/tabs/github_help :: tab"></div>
    </div>
</div>
</html>