<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tab" class="help">
    <button data-for="labels-tab" class="help__button mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">help</i>
    </button>

    <div id="labels-tab" class="help__tab">
        <div class="help__text">
            <h5>Labels:</h5>
            <p>
                Labels are used by auto-labeling feature. All fields are names of labels used during PR marking.<br/>
                Full description below:
                <u>
                    <li>Invalid Changelog - for PR with invalid "in body" changelog.</li>
                    <li>Map Changes - handler automatically check PR diff and react on "dmm" files changes with this label.</li>
                    <li>Icon Changes - same as Map Changes, but reaction on "dmi".</li>
                    <li>Work In Progress - PR with [WIP] in title will be marked with this. (Optional if empty.)</li>
                    <li>Do Not Merge - same as Work in Progress, but for [DNM]. (Optional if empty.)</li>
                    <li>Test Merge - when PR is labeled with this label test merge changelog will be generated for it.</li>
                </u>
                <br/>
                About "Class/Label" table. Label names to add are also taken from "in body" changelog, by checking
                classes in it.<br/>
                This table gives ability to bind any class from changelog to label name you like. If label name is
                empty, no label
                for this class will be added.<br/>
                Table is constructed from "Available classes" list in "CHANGELOG" tab.
            </p>
        </div>
    </div>
</div>
</html>