<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="tab">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-cell">

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="request-agent-name" class="mdl-textfield__input">
            <label for="request-agent-name" class="mdl-textfield__label">Agent Name</label>
          </div>

          <br />

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="time-zone" name="timeZone">
              <option>Europe/Moscow</option>
              <option>Europe/London</option>
              <option>America/New_York</option>
              <option>America/Los_Angeles</option>
            </select>
            <label class="mdl-textfield__label" for="time-zone">Time Zone</label>
          </div>

          <br />

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="image-upload-code" class="mdl-textfield__input">
            <label for="image-upload-code" class="mdl-textfield__label">Image Upload Code</label>
          </div>

          <hr class="function-buttons-separator" />
          <div id="progress-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

          <div class="functional-buttons">
            <button id="validate-config" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
              VALIDATE CONFIG
            </button>
            &nbsp;&nbsp;
            <button id="save-config" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" disabled>
              SAVE CONFIG
            </button>

            <hr class="function-buttons-separator" />

            <a href="/config/rest/file" class="blue-button download-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">
              DOWNLOAD CONFIG
            </a>
            <br />
            <a href="/config/rest/log" class="orange-button download-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
              DOWNLOAD LOG
            </a>
          </div>

        </div>

        <div class="md-cell">
          <h5>Agent name:</h5>
          <p>
            All HTTP requests to GitHub contain "Agent-Name" header with this property.<br />
            Example: Automatic-Servername-Worker
          </p>

          <h5>Time Zone:</h5>
          <p>
            Used to get current time while changelog generation.<br />
            Should be close enough to your local zone, but not necessary right exact.
          </p>

          <h5>Image upload code:</h5>
          <p>
            Handler is using self hosted image sharing service <a href="https://github.com/chrisiaut/pictshare">PictShare</a>.<br />
            This code is a secret key to it's API endpoint.
          </p>

          <h5>Validate/Save config:</h5>
          <p>
            Before saving configuration should pass basic validation process.<br />
            To pass it successfully next properties should have valid values: Organization and Repository names, path to changelog.<br />
            If something of it will be invalid appropriate tab will be marked with warning icon.<br />
            After success validation "SAVE CONFIG" button will become enabled.
          </p>

          <h5>Download config:</h5>
          <p>Download configuration file from server.</p>

          <h5>Download log:</h5>
          <p>Download application log file from server.</p>
        </div>
      </div>
    </div>
  </div>
</html>