<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="tab">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-cell">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="organization-name" class="mdl-textfield__input">
            <label for="organization-name" class="mdl-textfield__label">Organization Name</label>
          </div>

          <br />

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="repository-name" class="mdl-textfield__input">
            <label for="repository-name" class="mdl-textfield__label">Repository Name</label>
          </div>

          <br />

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="api-token" class="mdl-textfield__input">
            <label for="api-token" class="mdl-textfield__label">Api Token</label>
          </div>

          <br />

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="secret-key" class="mdl-textfield__input">
            <label for="secret-key" class="mdl-textfield__label">Secret Key</label>
          </div>
        </div>

        <div class="md-cell">
          <h5>Organization name:</h5>
          <p>GitHub organization name where your repository stored.</p>

          <h5>Repository name:</h5>
          <p>GitHub repository where your build stored.</p>

          <h5>API Token:</h5>
          <p>API token generated for access to your Repository. Should at least have <b>repo</b> rights.</p>

          <h5>Secret key:</h5>
          <p>Secret key generated for your webhook.</p>
        </div>
      </div>
    </div>
  </div>
</html>