<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
  <title id="pageTitle">Handler Config</title>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs mdl-layout--no-drawer-button">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Handler Configuration</span>
        <div class="mdl-layout-spacer"></div>
        <form th:action="@{/logout}" method="post">
          <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" value="SIGN OUT" />
        </form>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">GENERAL</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab">
          <span><i id="github-fail" class="fail-icon material-icons">warning</i>GITHUB</span>
        </a>
        <a href="#fixed-tab-3" class="mdl-layout__tab">
          <span><i id="changelog-fail" class="fail-icon material-icons">warning</i>CHANGELOG</span>
        </a>
      </div>
    </header>


    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="request-agent-name" class="mdl-textfield__input">
                <label for="request-agent-name" class="mdl-textfield__label">Agent Name</label>
              </div>

              <br />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input" id="time-zone" name="timeZone">
                  <option>Europe/Moscow</option>
                  <option>Europe/London</option>
                  <option>America/New_York</option>
                  <option>America/Los_Angeles</option>
                </select>
                <label class="mdl-textfield__label" for="time-zone">Time Zone</label>
              </div>

              <hr class="function-buttons-separator" />
              <div id="progress-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

              <div class="functional-buttons">
                <button id="validate-config" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                  VALIDATE CONFIG
                </button>
                &nbsp;&nbsp;
                <button id="save-config" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" disabled>
                  SAVE CONFIG
                </button>

                <hr class="function-buttons-separator" />

                <a href="/config/rest/file" class="blue-button download-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">
                  DOWNLOAD CONFIG
                </a>
                <br />
                <a href="/config/rest/log" class="orange-button download-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                  DOWNLOAD LOG
                </a>
              </div>
            </div>
            <div class="md-cell">
              <h5>Agent name:</h5>
              <p>
                All HTTP requests to GitHub contain "Agent-Name" header with this property.<br />
                Example: Automatic-Servername-Worker
              </p>
              <h5>Time Zone:</h5>
              <p>
                Used to get current time while changelog generation.<br />
                Should be close enough to your local zone, but not necessary right exact.
              </p>
              <h5>Validate/Save config:</h5>
              <p>
                Before saving configuration should pass basic validation process.<br />
                To pass it successfully next properties should have valid values: Organization and Repository names, path to changelog.<br />
                If something of it will be invalid appropriate tab will be marked with warning icon.<br />
                After success validation "SAVE CONFIG" button will become enabled.
              </p>
              <h5>Download config:</h5>
              <p>Download configuration file from server.</p>
              <h5>Download log:</h5>
              <p>Download application log file from server.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="mdl-layout__tab-panel" id="fixed-tab-2">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="organization-name" class="mdl-textfield__input">
                <label for="organization-name" class="mdl-textfield__label">Organization Name</label>
              </div>

              <br />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="repository-name" class="mdl-textfield__input">
                <label for="repository-name" class="mdl-textfield__label">Repository Name</label>
              </div>

              <br />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="api-token" class="mdl-textfield__input">
                <label for="api-token" class="mdl-textfield__label">Api Token</label>
              </div>

              <br />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="secret-key" class="mdl-textfield__input">
                <label for="secret-key" class="mdl-textfield__label">Secret Key</label>
              </div>
            </div>
            <div class="md-cell">
              <h5>Organization name:</h5>
              <p>GitHub organization name where your repository stored.</p>
              <h5>Repository name:</h5>
              <p>GitHub repository where your build stored.</p>
              <h5>API Token:</h5>
              <p>API token generated for access to your Repository. Should at least have <b>repo</b> rights.</p>
              <h5>Secret key:</h5>
              <p>Secret key generated for your webhook.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="mdl-layout__tab-panel" id="fixed-tab-3">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="path-to-changelog" class="mdl-textfield__input" pattern="[/].+">
                <label for="path-to-changelog" class="mdl-textfield__label">Changelog Path</label>
              </div>

              <br />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="html-more-text" class="mdl-textfield__input">
                <label for="html-more-text" class="mdl-textfield__label">More Text</label>
              </div>

              <br />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="html-update-text" class="mdl-textfield__input">
                <label for="html-update-text" class="mdl-textfield__label">Update Text</label>
              </div>

              <br />
              <h6 class="available-classes-header">Available classes:</h6>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="add-class-field" class="mdl-textfield__input">
                <label for="add-class-field" class="mdl-textfield__label">Add class</label>
              </div>
              <button id="add-class-button" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">add</i>
              </button>
              <ul id="available-classes-list" class="mdl-list"></ul>
            </div>
            <div class="md-cell">
              <h5>Changelog path:</h5>
              <p>
                Path to your changelog from root of repository. <i><b>Should starts with '/'</b></i>
              </p>
              <h5>More text:</h5>
              <p>Will be used in changelog as name for link to PR.</p>
              <h5>Update text:</h5>
              <p>
                Will be used in changelog generation to say that author updated something.<br />
                Look for changelog html schema in source code repository or in about text.
              </p>
              <h5>Available classes and fields below:</h5>
              <p>
                All of these use in validation process of changelog, when PR created or edited.<br />
                List can't have repeatable values.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>


    <div id="about-text">
      <div id="about-card" class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Help</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <h5>How to work with it:</h5>
          <ol>
            <li>Fill all fields in all tabs with values you need. Description of each field is given in right part.</li>
            <li>Press validate button in "GENERAL" tab.</li>
            <ul>
              <li>If validation passed successful "SAVE CONFIG" will become enabled.</li>
              <li>
                Otherwise tab with invalid values will be marked with warning icon.<br />
                Read "Validate config" description to get more info.
              </li>
            </ul>
            <li>Press "SAVE CONFIG" to save your new configuration on server.</li>
            <ul>
              <li>Saved configuration will become active instantly.</li>
            </ul>
          </ol>
          <h5>Additional info:</h5>
          <p>
            Additional info may be found on GitHub repository of source code: <a href="https://github.com/SpaiR/ss13-gitwebhook-handler">https://github.com/SpaiR/ss13-gitwebhook-handler</a><br />
          </p>
          <p><b>Contact:</b> klimbetoo@gmail.com, Ilya</p>
        </div>
        <div class="mdl-card__menu">
          <button id="close-about-button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
    </div>


    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <ul class="mdl-mini-footer__link-list">
          <li>
            <a href="https://github.com/SpaiR/ss13-gitwebhook-handler"><img id="github-icon" src="github.png" /></a>
            <span>&nbsp;Code licensed under an MIT-style License.</span>
          </li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
        <button id="open-about-button" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">help_outline</i>
        </button>
      </div>
    </footer>
  </div>

  <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

  <div id="overlay"></div>
  <script defer src="script.js"></script>
</body>
</html>