<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tab">
    <button data-for="github-tab" class="help__button mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">help</i>
    </button>

    <div id="github-tab" class="help__tab">
        <div class="help__text">
            <h5>Organization name:</h5>
            <p>GitHub organization name where your repository stored.</p>

            <h5>Repository name:</h5>
            <p>GitHub repository where your build stored.</p>

            <h5>API Token:</h5>
            <p>API token generated for access to your Repository. Should at least have <b>repo</b> rights.</p>

            <h5>Secret key:</h5>
            <p>Secret key generated for your webhook.</p>

            <h5>Master Users:</h5>
            <p>Some features like "Test Merge Changelog" requires special rights. Master users are those who have these rights.</p>
        </div>
    </div>
</div>
</html>